@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebProject20_10_23.Models;
@model Product

<div>
    <p>Product Id: @Model.ProductId - Product Name: @Model.ProductName - UnitPrice: @Model.UnitPrice</p>
</div>
