@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using WebProject20_10_23.Models;

@model List<Product>

<div>
    <h1 style="text-align:center">Product List</h1>
    @foreach(var p in Model) {
        <p><a href="/product/detail/@p.ProductId">@p.ProductName </a></p>
    }
</div>